<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../lib/init.css"/>
  <link rel="stylesheet" type="text/css" href="../lib/base.css"/>

  <link rel="stylesheet" type="text/css" href="edit_data.css"/>
</head>

<body>
<div id="edit-data-body" v-cloak @mouseover="highLightItem(-1)">

  <transition name="showMask">
    <div class="loadingMask" v-if="loadingMask">
      <div class="circle-image-1"></div>
      <div class="circle-image-2"></div>
      <div class="title">
        载入中<span class="dot-1">.</span><span class="dot-2">.</span><span class="dot-3">.</span>
      </div>
      <span class="desc">初次载入可能较慢 请耐心等待</span>
      <span class="desc">如长时间没有响应 可ctrl+f5强制刷新页面</span>
    </div>
  </transition>

  <div class="table-body" id="table-body">
    <div class="table-header">
      <div class="single-box" style="border-left: 1px solid black;width: 90px">编号</div>
      <div class="single-box" style="width: 100px">新增时间</div>
      <div class="single-box" style="width: 80px">学生姓名</div>
      <div class="single-box" style="width: 110px">企业名称</div>
      <div class="single-box" style="width: 80px">导师姓名</div>
      <div class="single-box" style="width: 180px">导师职位</div>
      <div class="single-box" style="width: 75px">实习进度</div>
      <div class="single-box" style="width: 60px">推荐信</div>
      <div class="single-box" style="width: 100px">签发时间</div>
      <div class="single-box" style="width: 75px">合作价格</div>
      <div class="single-box" style="width: 75px">付款情况</div>
      <div class="single-box" style="width: 60px">支出</div>
      <div class="single-box" style="width: 45px">备注</div>
    </div>
    <div class="table-item" v-for="(tableItem,tableIdx) in dataArr" :style="highLightIdx===tableIdx?'box-shadow: -10px 0 10px red':''">
      <div class="single-box" style="border-left: 1px solid black;width: 90px">{{tableItem.id}}</div>
      <div class="single-box" style="width: 100px">{{tableItem.creatTime}}</div>
      <div class="single-box" style="width: 80px" :style="modifiedBgStr(tableIdx,'stuName')">{{tableItem.stuName}}</div>
      <div class="single-box" style="width: 110px" :style="modifiedBgStr(tableIdx,'coName')">{{tableItem.coName}}</div>
      <div class="single-box" style="width: 80px" :style="modifiedBgStr(tableIdx,'tutorName')">{{tableItem.tutorName}}</div>
      <div class="single-box" style="width: 180px" :style="modifiedBgStr(tableIdx,'tutorClass')">{{tableItem.tutorClass}}</div>
      <div class="single-box" style="width: 75px" :style="modifiedBgStr(tableIdx,'progress')">{{tableItem.progress}}/{{tableItem.maxProgress}}</div>
      <div class="single-box" style="width: 60px" :style="modifiedBgStr(tableIdx,'recLetterState')">{{stateCol.recLetterState[tableItem.recLetterState]}}</div>
      <div class="single-box" style="width: 100px" :style="modifiedBgStr(tableIdx,'recTime')">{{tableItem.recTime}}</div>
      <div class="single-box" style="width: 75px" :style="modifiedBgStr(tableIdx,'income')">{{tableItem.income}}</div>
      <div class="single-box" style="width: 75px" :style="modifiedBgStr(tableIdx,'paymentState')">{{stateCol.paymentState[tableItem.paymentState]}}</div>
      <div class="single-box" style="width: 60px" :style="modifiedBgStr(tableIdx,'cost')">{{tableItem.cost}}</div>
      <div class="single-box" style="width: 45px" :style="modifiedBgStr(tableIdx,'remark')">{{tableItem.remark?'查看':''}}</div>
      <div class="btn" style="margin-left: 10px;padding: 0 3px" @click="openModTableItemWin(tableIdx)" @mouseover.stop="highLightItem(tableIdx)">编辑</div>
    </div>
    <div class="table-footer">
      <div class="btn" style="width: 80px">新增</div>
      <div class="btn" style="width: 80px">提交</div>
    </div>
  </div>

  <transition name="showMask">
    <div class="popup-bg" v-if="popupFlag.modifyWin" style="background: rgba(0, 0, 0, 0.8);flex-direction: row">
      <div class="btn" style="font-size: 25px;padding: 5px" @click="closeModTableItemWin()">取消</div>
      <div class="mod-table-item-win">
        <div class="sub-box" style="border-top: 1px solid black">
          <div class="left">编号</div>
          <div class="right">{{modItemObj.id}}</div>
        </div>
        <div class="sub-box">
          <div class="left">新增时间</div>
          <input class="right input-text" type="date" v-model="modItemObj.creatTime"/>
        </div>
        <div class="sub-box">
          <div class="left">学生姓名</div>
          <input class="right input-text" v-model="modItemObj.stuName" />
        </div>
        <div class="sub-box">
          <div class="left">企业名称</div>
          <input class="right input-text" v-model="modItemObj.coName" />
        </div>
        <div class="sub-box">
          <div class="left">导师姓名</div>
          <div class="right" style="justify-content: flex-end">
            <select v-model="modItemObj.tutorName">
              <option v-for="(tutorNameData, tutorNameIdx) in tutorData" :value="tutorNameData.name">{{tutorNameData.name}}</option>
            </select>
          </div>
        </div>
        <div class="sub-box">
          <div class="left">导师职位</div>
          <input class="right input-text" v-model="modItemObj.tutorClass" />
        </div>
        <div class="sub-box">
          <div class="left">实习进度</div>
          <div class="right" style="justify-content: flex-end">
            <select v-model="modItemObj.progress">
              <option v-for="progressData in [0,1,2,3,4]" :value="progressData">{{progressData}}</option>
            </select><span style="margin-left: 5px">/4</span>
          </div>
        </div>
        <div class="sub-box">
          <div class="left">推荐信</div>
          <div class="right" style="justify-content: flex-end">
            <select v-model="modItemObj.recLetterState" v-if="modItemObj.progress>=4">
              <option v-for="(recLetterStateData, recLetterStateIdx) in stateCol.recLetterState" :value="recLetterStateIdx">{{recLetterStateData}}</option>
            </select>
          </div>
        </div>
        <div class="sub-box">
          <div class="left">签发时间</div>
          <input class="right input-text" type="date" v-model="modItemObj.recTime" v-if="modItemObj.recLetterState>=3 && modItemObj.progress>=4"/>
        </div>
        <div class="sub-box">
          <div class="left">合作价格</div>
          <input class="right input-text" v-model="modItemObj.income" type="number"/>
        </div>
        <div class="sub-box">
          <div class="left">付款情况</div>
          <div class="right" style="justify-content: flex-end">
            <select v-model="modItemObj.paymentState" v-if="modItemObj.progress>=4">
              <option v-for="(paymentStateData, paymentStateIdx) in stateCol.paymentState" :value="paymentStateIdx">{{paymentStateData}}</option>
            </select>
          </div>
        </div>
        <div class="sub-box">
          <div class="left">支出</div>
          <input class="right input-text" v-model="modItemObj.cost" type="number"/>
        </div>
        <div class="sub-box">
          <div class="left">备注</div>
          <input class="right input-text" v-model="modItemObj.remark" />
        </div>
      </div>
      <div class="btn" style="font-size: 25px;padding: 5px" @click="commitMod()">确认</div>
    </div>
  </transition>

</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="../lib/base.js"></script>

<script type="text/javascript" src="data.js"></script>
<script type="text/javascript" src="edit_data.js"></script>
</html>