html, body {
	height: 100%;
}

#index-body {
	min-height: 100%;
	background: #78c3ea;
	display: flex;
	justify-content: center;
	align-items: center;
	.subarea-box {
		margin: 0 30px;
		width: 300px;
		height: 300px;
		background: white;
		border-radius: 30px;
		display: flex;
		flex-direction: column;
		padding: 20px;
		box-sizing: border-box;
		border: 1px solid grey;
		box-shadow: 5px 5px 5px black;
	}
}