<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>导师进度一览表</title>
  <link rel="shortcut icon" href="../favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../lib/init.css"/>
  <link rel="stylesheet" type="text/css" href="../../lib/base.css"/>

  <link rel="stylesheet" type="text/css" href="stu_progress.css"/>
</head>

<body>
<div id="stu-progress-body" v-cloak @mouseover="getAbstractIdx([-1,-1,-1])">

  <transition name="showMask">
    <div class="loadingMask" v-if="loadingMask">
      <div class="circle-image-1"></div>
      <div class="circle-image-2"></div>
      <div class="title">
        载入中<span class="dot-1">.</span><span class="dot-2">.</span><span class="dot-3">.</span>
      </div>
      <span class="desc">初次载入可能较慢 请耐心等待</span>
      <span class="desc">如长时间没有响应 可ctrl+f5强制刷新页面</span>
    </div>
  </transition>

  <div class="table-body" id="table-body">
    <div class="table-header">
      <div class="single-box" style="width: 80px">导师姓名</div>
      <div class="single-box" style="width: 110px">企业名称</div>
      <div class="single-box" style="width: 180px">导师职位</div>
      <div class="single-box">0/4</div>
      <div class="single-box">1/4</div>
      <div class="single-box">2/4</div>
      <div class="single-box">3/4</div>
      <div class="single-box">4/4</div>
      <div class="single-box">历史已完成</div>
      <!--      <input class="" type="date" v-model="scheduleStartTime" @change="startTimeChange()"/>-->
      <!--      <input class="" type="date" v-model="scheduleEndTime" @change="endTimeChange()"/>-->
      <select v-model="tutorFilterName" v-if="tutorData">
        <option v-for="(tutorData, tutorIdx) in [{tutorName: '不过滤'}].concat(this.tutorData)" :value="tutorData.tutorName">{{tutorData.tutorName}}</option>
      </select>
      <select v-model="coFilterName" v-if="tutorData">
        <option v-for="(tutorData, tutorIdx) in [{coName: '不过滤'}].concat(this.tutorData)" :value="tutorData.coName">{{tutorData.coName}}</option>
      </select>
    </div>
    <div class="table-item" v-for="(tableItem,tableIdx) in tutorData" v-show="tableItem.tutorName===tutorFilterName || tableItem.coName===coFilterName || (coFilterName==='不过滤' && tutorFilterName==='不过滤')">
      <div class="single-box" style="width: 80px" @click="openTutorDetail(tableIdx)">{{tableItem.tutorName}}</div>
      <div class="single-box" style="width: 110px">{{tableItem.coName}}</div>
      <div class="single-box" style="width: 180px">{{tableItem.tutorClass}}</div>
      <div class="single-box" v-for="(progressItem,progressIdx) in progressArr[tableIdx].slice(0,5)">
        <div class="btn stu-btn" v-for="(stuItem,stuIdx) in progressItem" :style="highLightBgStr(stuItem)" @mouseover.stop="getAbstractIdx([tableIdx,progressIdx,stuIdx])" @click="gotoEditOrder(stuItem.id)">
          {{stuItem.stuName}}
          <div class="detail-box" v-if="abstractIdx[0]===tableIdx && abstractIdx[1]===progressIdx && abstractIdx[2]===stuIdx" :style="'left:'+(mousePos[0]-240)+'px;top:'+mousePos[1]+'px'">
            <div class="name-box" v-for="(detailItem,detailIdx) in detailStrArr(stuItem)">
              <div :style="detailItem.styleStr">{{detailItem.title}}</div><div>{{detailItem.value}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="single-box" style="justify-content: center">
        <div class="btn stu-btn" v-if="progressArr[tableIdx][5].length" @mouseover.stop="getAbstractIdx([tableIdx,5,-1])" @click="openFinishList(tableIdx)">
          {{progressArr[tableIdx][5].length}}人
          <div class="detail-box" v-if="abstractIdx[0]===tableIdx && abstractIdx[1]===5" :style="'left:'+(mousePos[0]-240)+'px;top:'+mousePos[1]+'px'">
            <div class="name-box" v-for="(finishItem,finishIdx) in progressArr[tableIdx][5]">
              <div>{{finishItem.id}}</div><div>{{finishItem.stuName}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-footer" style="display:none;">
    </div>
  </div>

  <transition name="showMask">
    <div class="popup-bg" v-if="popupFlag.tutorDetailWin" @click="closeTutorDetail()">
      <div class="mod-table-item-win" @click.stop>
        <div class="sub-box" v-for="(tutorDetailKeyMapItem, tutorDetailKeyMapIdx) in tutorDetailKeyMap">
          <div class="left">{{tutorDetailKeyMapItem.name}}</div>
          <div class="right">{{tutorData[tutorDetailIdx][tutorDetailKeyMapItem.key]}}</div>
        </div>
        <div class="sub-box" style="justify-content: center">
          <div class="btn" @click="gotoEditTutor(tutorDetailIdx)">去编辑</div>
        </div>
      </div>
    </div>
  </transition>

  <transition name="showMask">
    <div class="popup-bg" v-if="popupFlag.finishListWin" @click="closeFinishList()">
      <div class="mod-table-item-win" @click.stop>
        <div class="sub-box" style="position:relative;" v-for="(finishItem,finishIdx) in progressArr[finishListIdx][5]">
          <div class="left">{{finishItem.id}}</div>
          <div class="right">{{finishItem.stuName}}</div>
          <div class="btn" style="position: absolute;left: 50%" @click="gotoEditOrder(finishItem.id)">去编辑</div>
        </div>
      </div>
    </div>
  </transition>

</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="../../lib/base.js"></script>

<script type="text/javascript" src="../data.js"></script>
<script type="text/javascript" src="stu_progress.js"></script>
</html>