input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type="number"]{
	-moz-appearance: textfield;
}

html, body {
	height: 100%;
}

#tutor-schedule-body {
	width: 100%;
	min-height: 100%;
	background: #78c3ea;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	.table-header {
		z-index: 2;
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		width: 100%;
		background: white;
		box-shadow: 0 5px 7px black;
		padding-top: 5px;
		box-sizing: border-box;
		.single-box {
			background: white;
			min-width: 30px;
			padding: 3px;
			border: 1px solid black;
			border-left: 0;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.single-box:first-child {
			border-left: 1px solid black;
		}
	}
	.table-footer {
		position: fixed;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		background: white;
		box-shadow: 0 -5px 7px black;
		box-sizing: border-box;
		padding: 10px 0;
	}
	.table-body {
		margin: 50px 0 0 0;
		width: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		.table-item {
			display: flex;
			margin: 3px 0;
			.single-box, .bar-box {
				background: white;
				padding: 3px;
				border: 1px solid black;
				border-left: 0;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.single-box:first-child {
				border-left: 1px solid black;
			}
			.bar-box {
				flex-grow: 1;
				display: flex;
				.bar-item {
					height: 20px;
					background: green;
					border: 1px solid black;
					box-sizing: border-box;
					display: flex;
					align-items: center;
					justify-content: flex-start;
				}
			}
		}
	}
	.mod-table-item-win {
		display: flex;
		flex-direction: column;
		margin: 0 50px;
		.sub-box {
			height: 30px;
			background: white;
			width: 300px;
			border: 1px solid black;
			border-top: none;
			padding: 10px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.left {}
			.right {}
		}
		.sub-box:first-child {
			border-top: 1px solid black;
		}
	}
}